/*
Math Tablet
Copyright (C) 2019 Public Invention
https://pubinv.github.io/PubInv/

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

:root
  --cell-left-margin 60px
  --sidebar-width 60px
  --page-aspect-ratio calc(8.5 / 11)

#cellView
#pageView
  display flex
  min-height 100%
  width calc(100% - var(--sidebar-width))

#cellView
  flex-flow column nowrap
  margin-left calc(var(--sidebar-width) + var(--cell-left-margin))
  margin-top 60px
  border-left 1px solid pink

#pageView
  background-color lightgray
  flex-flow row wrap
  margin-left var(--sidebar-width)

#sidebar
  background-color darkgray
  height 100%
  left 0
  position fixed
  top 0
  width var(--sidebar-width)

  .separator
    height 4px

  button
    height var(--sidebar-width)
    width var(--sidebar-width)

.cell
  background-color #F8F8F8
  //- outline 1px dashed black
  display block
  margin 6px 0 0 0
  stroke black
  fill none

.page
  background-color white
  outline 1px solid black

.page.selected
    outline 2px solid blue

body
  //background-color yellow
  height 100%
  margin 0
  // Safari doesn't appear to support overscroll-behavior
  overscroll-behavior none
  user-select none
