/*
Math Tablet
Copyright (C) 2019 Public Invention
https://pubinv.github.io/PubInv/

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

:root
  --header-height 32px
  --sidebar-width 60px

// Specific elements

#banner
  background-color yellow
  left 0
  position fixed
  top 0
  width 100%
  z-index 10

  > *
    padding 8pt
    border-bottom 1px solid black

  .banner
    background-color lightblue
    color black

  .close
    color inherit
    background-color transparent
    border none
    padding 0
    float right

  .error
    background-color red
    color white

  .success
    background-color green
    color white

  .warning
    background-color yellow
    color black

#header
  align-items center
  background-color #cccccc
  display flex
  flex-direction row
  height var(--header-height)
  justify-content space-between
  margin-left var(--sidebar-width)
  padding 0 6pt 0 6pt

  button
    height 30px
    padding 2px
    width 30px
    // background none!important
    // border none
    // color blue
    // cursor pointer
    // font inherit
    // padding-right 0!important
    // padding-left 2
    // text-decoration underline

#sidebar
  background-color darkgray
  height 100%
  left 0
  position fixed
  top 0
  width var(--sidebar-width)

  .separator
    height 4px

  button
    height var(--sidebar-width)
    padding 4px
    width var(--sidebar-width)

// Element classes

// Element types

body
  font-family Arial, Helvetica, sans-serif
  height 100%
  margin 0

form
  margin-bottom 1em

html
  height 100%
