/*
Math Tablet
Copyright (C) 2019 Public Invention
https://pubinv.github.io/PubInv/

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

// Globals

:root
  --cell-left-margin 60px
  --header-button-padding 2px
  --header-height 30px
  --page-aspect-ratio calc(8.5 / 11)
  --sidebar-button-padding 4px
  --sidebar-width 60px
  --svg-left-offset 6px
  --svg-top-offset 0px
  --tools-height 20%

// Specific elements

#cellView
  // REVIEW: Is this used?
  border-left 1px solid pink
  display flex
  flex-flow column nowrap
  margin-left var(--cell-left-margin)
  margin-top 60px
  min-height 100%
  width 100%

#header
  align-items center
  border-bottom 1px solid gray
  display flex
  flex-direction row
  height var(--header-height)
  justify-content space-between
  left 0
  padding 0 6pt 0 6pt
  position fixed
  right 0
  top 0
  z-index 10

  #title
    user-select text

  button
    height var(--header-height)
    padding var(--header-button-padding)
    width var(--header-height)

    .icon
      height 26px // why not?: calc(var(--header-height)-2*var(--header-button-padding))
      width 26px // why not?: calc(var(--header-height)-2*var(--header-button-padding))

  button:disabled
    svg
      fill #808080

#messageDisplay
  bottom 20px
  right 20px
  position fixed
  width 40%
  user-select text
  z-index 10

  .message
    border-radius 6px
    display flex
    font-size x-small
    justify-content space-between
    margin-bottom 4px
    padding 6px

    .close
      user-select none

    pre
      margin 0

  .error
    background-color red
    color white

  .success
    background-color green
    color white

  .warning
    background-color yellow
    color black


// Element classes

.debugPopup
  background-color #EEEEEE
  border 1px solid black
  font-size smaller
  height 80%
  left 10%
  overflow hidden
  overflow-y scroll
  position absolute
  top 10%
  user-select text
  white-space nowrap
  width 80%
  z-index 10

  .close
    position absolute
    top 0
    right 0
    background-color transparent
    background-repeat no-repeat
    border none
    cursor pointer
    overflow hidden
    outline none
    user-select none

  .content
    padding 1em

    .nested
      padding-left 1em

    .collapsed::before
      content "\0025b6 "

    .expanded::before
      content "\0025bc "

    .leaf::before
      content "\0025cf "

.entityButton
  background none
  border none
  color inherit
  padding 0

.folderScreen

  .content
    padding 24px 0px 0px 24px

    #folderList
      margin-bottom 24px

    .icon
      height 24px
      width 24px

.iconButton
  background none
  border none
  color inherit
  padding 0

.inputPanel

  .inputRow
    align-items center
    display flex

  .messages
    color red
    font-size x-small
    min-height 20px
    padding 2px

  .preview
    min-height 60px
    padding 8px

  .selectors
    padding 0 12px 0 8px

  .stylusInputPanel
    background-color #F8F8F8
    display block
    fill none
    margin 6px 0 0 0
    pen-action none
    touch-action none
    stroke black

  select
    display block
    width 92px

  textArea
    display block
    height 1in
    padding 8px
    width calc(100% - 8px)

.notebookEditScreen

  .tools
    background-color transparent
    border-top 1px solid gray
    bottom 0
    left 0
    position fixed
    padding 20px
    right 0
    height var(--tools-height)

    .tool
      color blue
      background-color transparent
      border none
      display block
      padding-right 0
      padding-left 2px
      text-decoration underline

  >.content

    >.cell

      >.main
        display flex
        justify-content space-between

        >.leftMargin
          width 30pt

        >.content
          position relative
          flex-grow 1

        >.rightMargin
          position relative
          width 30pt

          >.deleteCellButton
            color lightgray
            position absolute
            right 4pt
            top 4pt

          >.dragIcon
            color lightgray
            padding 6px 12px 6px 6px
            position absolute
            right 0
            top 30px

      >.resizeBar
        border-top 1px dotted  #F0F0F0
        cursor row-resize
        //height 4pt
        margin 2pt 0
        pen-action none
        position relative
        touch-action none
        width 100%

        >.insertCellBelowButton
          // left 5pt
          top -5pt
          color gray
          position absolute

    .cell:focus
      outline none

      >.content
        background-color #E8E8E8 !important

    .cell.selected
      outline #E0E0FF solid 1px

    .textCell
    .formulaCell
      align-items center
      display flex
      flex-direction row
      padding 9px 0 9px 0

      >.keyboardPanel

        >textarea
          border none
          height 1in
          padding 0px
          resize none
          width 6.5in

      >.displayPanel
        flex-grow 1

      >.handlePanel
        padding 4px 0 4px 0
        text-align right
        width 36px

      >.prefixPanel
        padding-left 40px

      >.statusPanel
        text-align left
        width 36px

    .figureCell
      padding var(--svg-top-offset) 0px 0px var(--svg-left-offset)

    .hintCell
      padding-left 20px

.notebookThumbnailsScreen
.notebookReadScreen
  >.content
    background-color lightgray
    display flex
    flex-flow row wrap

    .page
      background-color white
      outline 1px solid black

    .page.selected
        outline 2px solid blue

.screen
  height: calc(100% - var(--header-height))
  left: 0
  position: fixed
  top var(--header-height)
  width: 100%

  >.content
    height calc(100% - var(--header-height))
    left var(--sidebar-width)
    overflow scroll
    position fixed
    top var(--header-height)
    width calc(100% - var(--sidebar-width))

.sidebar
  border-right 1px solid gray
  height 100%
  left 0
  position fixed
  top var(--header-height)
  width var(--sidebar-width)

  .entityButton
    font-size 50px

  .separator
    margin 2px 0 2px 0
    border-top 1px solid gray

  button
    // background none!important
    height var(--sidebar-width)
    padding var(--sidebar-button-padding)
    width var(--sidebar-width)

    .icon
      height 52px // why not?: calc(var(--sidebar-width)-2*var(--sidebar-button-padding))
      width 52px // why not?: calc(var(--sidebar-width)-2*var(--sidebar-button-padding))

  button:disabled
    svg
      fill #808080

.strokePanel
  >.stylusDrawingPanel
    background-color transparent
    display block
    fill none
    pen-action none
    position absolute
    stroke gray
    touch-action none

  >.svgPanel
    // background-color white
    display block
    fill none
    stroke black

// Element types

body
  font-family Arial, Helvetica, sans-serif
  height 100%
  margin 0
  user-select none

html
  height 100%
