/*
Math Tablet
Copyright (C) 2019 Public Invention
https://pubinv.github.io/PubInv/

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

// Globals

:root
  --cell-left-margin 60px
  --page-aspect-ratio calc(8.5 / 11)

// Specific elements

#cellView
  border-left 1px solid pink
  display flex
  flex-flow column nowrap
  margin-left var(--cell-left-margin)
  margin-top 60px
  min-height 100%
  width 100%

#content
  height calc(100% - var(--header-height))
  left var(--sidebar-width)
  overflow scroll
  position fixed
  top var(--header-height)
  width calc(100% - var(--sidebar-width))

#debugPopup
  background-color #eeeeee
  border 1px solid black
  font-size smaller
  height 80%
  left 10%
  overflow hidden
  overflow-y scroll
  position absolute
  top 10%
  white-space nowrap
  width 80%
  z-index 10

  .close
    position absolute
    top 0
    right 0
    background-color transparent
    background-repeat no-repeat
    border none
    cursor pointer
    overflow hidden
    outline none

  .content
    padding 1em

    .nested
      padding-left 1em

    .collapsed::before
      content "\0025b6 "

    .expanded::before
      content "\0025bc "

    .leaf::before
      content "\0025cf "

#notebookView
  background-color #eeeeee
  min-height 100%

  .cell
    align-items center
    display flex
    flex-direction row
    padding 9px 0 9px 0

    .formula
      flex-grow 1

    .handle
      padding 4px 0 4px 0
      text-align right
      width 48px

    .status
      text-align left
      width 36px

    .tools
      width 80px
      visibility visible // visibility hidden --- there is a subtle bug here preventing event bubbling when visibility changes - rlr

      .tool
        color blue
        background-color transparent
        border none
        padding-right 0
        padding-left 2px
        text-decoration underline

  .cell.selected
    outline 1px dotted blue

    .tools { visibility: visible }

#notebookView:focus
  background-color white
  outline none

#pageView
#thumbnailView
  background-color lightgray
  display flex
  flex-flow row wrap
  min-height 100%
  outline none
  width 100%

// Element classes

// .cell.selected
//   background-color cyan

.drawingCell
  background-color #F8F8F8
  display block
  fill none
  margin 6px 0 0 0
  pen-action none
  stroke black

.error
  color red
  font-size x-small

.keyboardInputErrorMessage
  color red
  font-size x-small
  min-height 20px
  padding 2px

.keyboardInputPanel
  outline 1px solid blue

.keyboardInputPanel>textArea
  display block
  height 1in
  padding 8px
  width calc(100% - 8px)

.keyboardInputPreview
  min-height 60px
  padding 8px

.page
  background-color white
  outline 1px solid black

.page.selected
    outline 2px solid blue

@media (hover: hover) {
  .thought:hover .tools { visibility: visible }
  //- .thought:hover { background-color:#fcfcfc }
}

// Element types
