/*
Math Tablet
Copyright (C) 2019 Public Invention
https://pubinv.github.io/PubInv/

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

// Specific elements

:root
  --footer-height 192px
  --header-height 32px
  --sidebar-width 60px

#content
  height calc(100% - var(--header-height) - var(--footer-height))
  left var(--sidebar-width)
  overflow scroll
  position fixed
  top var(--header-height)
  width calc(100% - var(--sidebar-width))

#debugWindow
  background-color #eeeeee
  border 1px solid black
  font-size smaller
  height 80%
  left 10%
  overflow hidden
  overflow-y scroll
  position absolute
  top 10%
  white-space nowrap
  width 80%
  z-index 10

  .nested
    padding-left 1em

  .collapsed::before
    content "\0025b6 "

  .expanded::before
    content "\0025bc "

  .leaf::before
    content "\0025cf "

#header
  align-items center
  background-color #cccccc
  display flex
  flex-direction row
  height var(--header-height)
  justify-content space-between
  margin-left var(--sidebar-width)
  padding 0 6pt 0 6pt

  button
    height 30px
    padding 2px
    width 30px
    // background none!important
    // border none
    // color blue
    // cursor pointer
    // font inherit
    // padding-right 0!important
    // padding-left 2
    // text-decoration underline

#footer
  border-top 1px solid black
  bottom 0
  height var(--footer-height)
  left var(--sidebar-width)
  position fixed
  right 0

#inputArea
  border-top 1px solid #cccccc
  height 75%

#inputKeyboard
  height 100%
  padding 4px

#inputKeyboard>textarea
  display block
  width calc(100% - 8px)
  height calc(100% - 14px)

#inputMath
#inputText
  height 100%
  pen-action none
  touch-action none

#insertButton
  bottom 0
  left 0
  position absolute

#preview
  margin auto 0 auto 24px

#previewContainer
  display flex
  height 25%

#sideBar
  background-color darkgray
  height 100%
  left 0
  position fixed
  top 0
  width var(--sidebar-width)

  .separator
    height 4px

  button
    height var(--sidebar-width)
    padding 4px
    width var(--sidebar-width)


// Element classes

.deleteStyle
  color inherit
  background-color transparent
  border none
  padding 0
  width 36px
  visibility hidden

.error
  color red
  font-size x-small

.formula
  flex-grow 1

.handle
  padding 4px 0 4px 0
  text-align right
  width 48px

.status
  text-align left
  width 36px

.thought
  align-items center
  display flex
  flex-direction row
  margin 18px 0 18px 0

.thought.selected
  background-color: #f0f0f0

.thought.selected .deleteStyle
  visibility visible

.thought.selected .tools
  visibility visible

.tool
  color blue
  background-color transparent
  border none
  padding-right 0
  padding-left 2px
  text-decoration underline

.tools
  width 80px
  visibility hidden

@media (hover: hover) {
  .thought:hover .tools { visibility: visible }
  .thought:hover { background-color:#f8f8f8 }
  .thought:hover .deleteStyle { visibility: visible }
}

// Element types

body
  height 100%
  margin 0

html
  height 100%
