/*
Math Tablet
Copyright (C) 2019 Public Invention
https://pubinv.github.io/PubInv/

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

// Globals

:root
  --footer-height 192px

// Specific elements

#content
  height calc(100% - var(--header-height) - var(--footer-height))
  left var(--sidebar-width)
  overflow scroll
  position fixed
  top var(--header-height)
  width calc(100% - var(--sidebar-width))

#debugWindow
  background-color #eeeeee
  border 1px solid black
  font-size smaller
  height 80%
  left 10%
  overflow hidden
  overflow-y scroll
  position absolute
  top 10%
  white-space nowrap
  width 80%
  z-index 10

  .nested
    padding-left 1em

  .collapsed::before
    content "\0025b6 "

  .expanded::before
    content "\0025bc "

  .leaf::before
    content "\0025cf "

#footer
  border-top 1px solid black
  bottom 0
  height var(--footer-height)
  left var(--sidebar-width)
  position fixed
  right 0

#inputArea
  border-top 1px solid #cccccc
  height 75%

#inputAreaButtons
  bottom 0
  left 0
  position absolute

#inputMath
#inputText
  height 100%
  pen-action none
  touch-action none

#preview
  margin auto 0 auto 24px

#previewContainer
  display flex
  height 25%

// Element classes

.cell
  align-items center
  display flex
  flex-direction row
  padding 9px 0 9px 0

// .cell.selected
//   background-color cyan

.error
  color red
  font-size x-small

.formula
  flex-grow 1

.handle
  padding 4px 0 4px 0
  text-align right
  width 48px

.keyboardInputErrorMessage
  color red
  font-size x-small
  min-height 20px
  padding 2px

.keyboardInputPanel
  outline 1px solid blue

.keyboardInputPanel>textArea
  display block
  height 1in
  padding 8px
  width calc(100% - 8px)

.keyboardInputPreview
  min-height 60px
  padding 8px

.notebookView
  background-color #eeeeee
  min-height 100%

.notebookView:focus
  background-color white
  outline none

  .cell.selected
    outline 1px dotted blue
    .tools { visibility: visible }

.status
  text-align left
  width 36px

  .tools
    visibility visible

.tool
  color blue
  background-color transparent
  border none
  padding-right 0
  padding-left 2px
  text-decoration underline

.tools
  width 80px
  visibility visible // visibility hidden --- there is a subtle bug here preventing event bubbling when visibility changes - rlr

@media (hover: hover) {
  .thought:hover .tools { visibility: visible }
  //- .thought:hover { background-color:#fcfcfc }
}

// Element types
