//- All of these icons are from iconmonstr
//- https://iconmonstr.com/

//- https://iconmonstr.com/arrow-4-svg/
mixin svgIconArrow4
  svg(viewBox="0 0 24 24")
    path(d="M13 18v-4h-7v-4h7v-4l6 6-6 6zm-1-16c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12z")

//- https://iconmonstr.com/arrow-13-svg/
mixin svgIconArrow13
  svg(viewBox="0 0 24 24")
    path(d="M24 12l-8.991 6.228v-2.722c2.54-1.757 5.053-3.506 5.053-3.506s-2.513-1.718-5.053-3.474v-2.722l8.991 6.196zm-6.96 0l-9.04-6.118v3.118h-8v6h8v3.118l9.04-6.118z")

//- https://iconmonstr.com/bug-12-svg/
mixin svgIconBug12
  svg(viewBox="0 0 24 24")
    path(d="M13 9.406c0 .215-.177.389-.396.389h-.896c-.208 0-.431.125-.479.426-.038.241.102.435.287.519l.907.404c.199.088.287.318.198.514-.092.196-.325.283-.522.194l-.962-.427c-.125-.057-.263-.026-.36.136-.4.661-1.177 1.316-2.277 1.439-1.121-.125-1.908-.805-2.301-1.479-.08-.137-.223-.148-.337-.097l-.962.428c-.198.088-.431.001-.522-.194-.089-.196-.001-.426.198-.514l.907-.404c.196-.088.323-.275.282-.548-.04-.257-.26-.398-.474-.398h-.895c-.219 0-.396-.173-.396-.388 0-.216.177-.389.396-.389h.901c.206 0 .422-.132.462-.416.03-.217-.103-.406-.29-.478l-.836-.326c-.203-.079-.303-.304-.224-.504.081-.2.311-.298.514-.219l.86.334c.111.042.269.028.353-.165.068-.152.144-.294.224-.429.642.374 1.348.561 2.14.561.78 0 1.495-.191 2.137-.563.085.139.164.287.232.445.073.164.225.199.348.151l.86-.334c.203-.079.433.019.514.219.079.2-.021.425-.224.504l-.836.325c-.18.069-.322.246-.288.5.034.247.245.394.46.394h.901c.219.001.396.174.396.39zm-5.928-4.363c.12.027.225.101.289.205.232.386-.07.717-.351 1.062.452.211.94.315 1.49.315.541 0 1.033-.107 1.489-.318-.277-.339-.579-.677-.35-1.058.064-.104.169-.179.289-.206.238-.052.419-.262.419-.516 0-.29-.24-.527-.536-.527-.354 0-.61.332-.518.666.034.127.016.261-.051.373-.152.251-.412.402-.742.404-.335-.002-.591-.155-.742-.404-.067-.112-.085-.246-.051-.373.092-.334-.164-.666-.518-.666-.296 0-.536.237-.536.528 0 .253.181.463.419.515zm14.097 14.711c.522-.79.831-1.735.831-2.754 0-2.761-2.238-5-5-5s-5 2.239-5 5 2.238 5 5 5c1.019 0 1.964-.309 2.755-.832l2.831 2.832 1.414-1.414-2.831-2.832zm-4.169.246c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3zm-4.89 2h-7.11l2.599-3h2.696c.345 1.152.976 2.18 1.815 3zm-2.11-5h-10v-17h22v12.11c-.574-.586-1.251-1.068-2-1.425v-8.685h-18v13h8.295c-.19.634-.295 1.305-.295 2z")

//- https://iconmonstr.com/clothing-18-svg/
mixin svgIconClothing18
  svg(viewBox="0 0 24 24")
    path(d="M23.998 10c-1.861 4.156-5.118 7.8-8.937 9.999v.001h-6.121c-3.819-2.199-7.077-5.844-8.938-10h-.002v-6h24v6h-.002zm-9.99-2h-4.016c-.087 2.493-.913 4.405-2.609 5.974 1.157 1.583 1.996 3.353 2.386 5.026h4.462c.39-1.673 1.23-3.443 2.386-5.026-1.696-1.569-2.522-3.48-2.609-5.974zm-12.742 2.331c1.028 2.05 3.297 5.695 7.377 8.317-.996-3.382-3.893-7.084-7.377-8.317zm21.468 0c-3.483 1.234-6.38 4.935-7.376 8.317 4.08-2.622 6.348-6.267 7.376-8.317zm.266-2.331h-7.992c.082 2.178.774 3.816 2.226 5.185 1.558-1.867 3.563-3.374 5.766-3.985v-1.2zm-22 0v1.2c2.203.611 4.209 2.117 5.766 3.984 1.452-1.368 2.144-3.006 2.226-5.184h-7.992zm22-1v-2h-22v2h22z")

//- https://iconmonstr.com/eraser-2-svg/
mixin svgIconEraser2
  svg(viewBox="0 0 24 24")
    path(d="M5.662 23l-5.369-5.365c-.195-.195-.293-.45-.293-.707 0-.256.098-.512.293-.707l14.929-14.928c.195-.194.451-.293.707-.293.255 0 .512.099.707.293l7.071 7.073c.196.195.293.451.293.708 0 .256-.097.511-.293.707l-11.216 11.219h5.514v2h-12.343zm3.657-2l-5.486-5.486-1.419 1.414 4.076 4.072h2.829zm6.605-17.581l-10.677 10.68 5.658 5.659 10.676-10.682-5.657-5.657z")

//- https://iconmonstr.com/file-4-svg/
//- mixin svgIconFile4
//-   svg(viewBox="0 0 24 24")
//-     path(d="M14.568.075c2.202 1.174 5.938 4.883 7.432 6.881-1.286-.9-4.044-1.657-6.091-1.179.222-1.468-.185-4.534-1.341-5.702zm-.824 7.925s1.522-8-3.335-8h-8.409v24h20v-13c0-3.419-5.247-3.745-8.256-3z")

//- https://iconmonstr.com/file-5-svg/
mixin svgIconFile5
  svg(viewBox="0 0 24 24")
    path(d="M11.362 2c4.156 0 2.638 6 2.638 6s6-1.65 6 2.457v11.543h-16v-20h7.362zm.827-2h-10.189v24h20v-14.386c0-2.391-6.648-9.614-9.811-9.614z")

//- https://iconmonstr.com/file-11-svg/
//- mixin svgIconFile11
//-   svg(viewBox="0 0 24 24")
//-     path(d="M15.602 4.075c2.201 1.174 4.904 3.254 6.398 5.252-1.286-.9-3.011-1.027-5.058-.549.222-1.469-.185-3.535-1.34-4.703zm-.825 6.925s1.522-7-3.335-7h-5.442v20h16v-10.629c0-3.42-4.214-3.116-7.223-2.371zm-.318-8l-1.459-1h-9v20h1v-19h9.459zm-2.443-2l-1.5-1h-8.516v20h1v-19h9.016z")

//- https://iconmonstr.com/file-12-svg/
mixin svgIconFile12
  svg(viewBox="0 0 24 24")
    path(d="M13 6c3.469 0 2 5 2 5s5-1.594 5 2v9h-12v-16h5zm.827-2h-7.827v20h16v-11.842c0-2.392-5.011-8.158-8.173-8.158zm.632-1l-1.459-1h-9v20h1v-19h9.459zm-2.443-2l-1.5-1h-8.516v20h1v-19h9.016z")

//- https://iconmonstr.com/file-15-svg/
mixin svgIconFile15
  svg(viewBox="0 0 24 24")
    path(d="M23 17h-3v-3h-2v3h-3v2h3v3h2v-3h3v-2zm-7 5v2h-15v-24h10.189c3.163 0 9.811 7.223 9.811 9.614v2.386h-2v-1.543c0-4.107-6-2.457-6-2.457s1.518-6-2.638-6h-7.362v20h13z")

//- https://iconmonstr.com/file-18-svg/
mixin svgIconFile18
  svg(viewBox="0 0 24 24")
    path(d="M23 17h-8v2h8v-2zm-4 5v2h-18v-24h10.189c3.163 0 9.811 7.223 9.811 9.614v4.386h-2v-3.543c0-4.107-6-2.457-6-2.457s1.518-6-2.638-6h-7.362v20h16z")

//- https://iconmonstr.com/folder-2-svg/
mixin svgIconFolder2(eltClass)
  svg(class=eltClass, viewBox="0 0 24 24")
    path(d="M6.083 4c1.38 1.612 2.578 3 4.917 3h11v13h-20v-16h4.083zm.917-2h-7v20h24v-17h-13c-1.629 0-2.305-1.058-4-3z")

//- https://iconmonstr.com/folder-5-svg/
mixin svgIconFolder5
  svg(viewBox="0 0 24 24")
    path(d="M24 17h-3v-3h-2v3h-3v2h3v3h2v-3h3v-2zm-10 5h-14v-20h7c1.695 1.942 2.371 3 4 3h13v7h-2v-5h-11c-2.34 0-3.537-1.388-4.916-3h-4.084v16h12v2z")

//- https://iconmonstr.com/folder-15-svg/
mixin svgIconFolder15
  svg(viewBox="0 0 24 24")
    path(d="M5.759 4l.038.069c1.444 2.646 2.691 4.931 7.141 4.931h9.062v11h-20v-16h3.759zm1.179-2h-6.938v20h24v-15h-11.062c-3.719 0-4.188-1.812-6-5zm6.171 3h10.891v-3h-14.604c1.39 2.574 1.63 3 3.713 3z")

//- https://iconmonstr.com/fullscreen-7-svg/
mixin svgIconFullscreen7
  svg(viewBox="0 0 24 24")
    path(d="M24 9h-2v-7h-7v-2h9v9zm-9 15v-2h7v-7h2v9h-9zm-15-9h2v7h7v2h-9v-9zm9-15v2h-7v7h-2v-9h9z")

//- https://iconmonstr.com/home-6-svg/
mixin svgIconHome6
  svg(viewBox="0 0 24 24")
    path(d="M21 13v10h-6v-6h-6v6h-6v-10h-3l12-12 12 12h-3zm-1-5.907v-5.093h-3v2.093l3 3z")

//- https://iconmonstr.com/idea-10-svg/
mixin svgIconIdea10
  svg(viewBox="0 0 24 24")
    path(d="M12 1c-6.338 0-12 4.226-12 10.007 0 2.05.739 4.063 2.047 5.625.055 1.83-1.023 4.456-1.993 6.368 2.601-.47 6.3-1.508 7.978-2.536 1.417.345 2.774.504 4.058.504 7.084 0 11.91-4.838 11.91-9.961 0-5.812-5.701-10.007-12-10.007zm0 2c5.514 0 10 3.592 10 8.007 0 4.917-5.144 7.961-9.91 7.961-1.937 0-3.383-.398-4.394-.644-1 .613-1.594 1.037-4.272 1.82.534-1.373.722-2.748.601-4.265-.838-1-2.025-2.4-2.025-4.872 0-4.415 4.486-8.007 10-8.007zm.217 14h-.447c-.117 0-.231-.04-.308-.109l-.594-.391h2.25l-.594.391c-.076.069-.189.109-.307.109zm.922-1h-2.279c-.138 0-.25-.111-.25-.25 0-.138.112-.25.25-.25h2.279c.138 0 .25.112.25.25s-.111.25-.25.25zm-1.322-.986h-1.414c-.013-2.57-1.403-2.878-1.403-4.647 0-1.695 1.327-2.852 3-2.852h.02c1.663.009 2.98 1.163 2.98 2.852 0 1.769-1.391 2.077-1.404 4.647h-1.414c0-2.735 1.318-3.614 1.318-4.651 0-.856-.694-1.333-1.5-1.348h-.019c-.798.022-1.481.499-1.481 1.348 0 1.037 1.317 1.915 1.317 4.651zm4.053-3.628l1.349.612-.414.91-1.298-.588c.151-.3.276-.608.363-.934zm-7.739-.001c.086.332.208.631.359.935l-1.295.588-.414-.91 1.35-.613zm9.369-.885h-1.501c.01-.335-.021-.673-.093-1h1.594v1zm-9.499 0h-1.501v-1h1.594c-.072.327-.102.663-.093.998v.002zm7.021-2.714l1.242-.882.579.816-1.252.888c-.146-.291-.336-.566-.569-.822zm-6.044-.001c-.23.252-.418.525-.569.823l-1.251-.888.578-.816 1.242.881zm4.435-1.046l.663-1.345.896.443-.663 1.345c-.278-.184-.581-.332-.896-.443zm-2.826-.001c-.315.11-.618.258-.897.442l-.663-1.343.897-.443.663 1.344zm1.913-.207c-.334-.04-.654-.042-1-.002v-1.529h1v1.531z")

//- https://iconmonstr.com/keyboard-2-svg/
mixin svgIconKeyboard2
  svg(viewBox="0 0 24 24")
    path(d="M22 7v10h-20v-10h20zm2-2h-24v14h24v-14zm-18 3h-3v2h3v-2zm3 0h-2v2h2v-2zm3 0h-2v2h2v-2zm3 0h-2v2h2v-2zm3 0h-2v2h2v-2zm3 0h-2v2h2v-2zm-4 6h-10v2h10v-2zm4-3h-4v2h4v-2zm-14 0h-4v2h4v-2zm3 0h-2v2h2v-2zm3 0h-2v2h2v-2zm3 0h-2v2h2v-2z")

//- https://iconmonstr.com/log-out-18-svg/
mixin svgIconLogOut18
  svg(viewBox="0 0 24 24")
    path(d="M16 2v7h-2v-5h-12v16h12v-5h2v7h-16v-20h16zm2 9v-4l6 5-6 5v-4h-10v-2h10z")

//- //- https://iconmonstr.com/menu-1-svg/
//- mixin svgIconMenu1
//-   svg(viewBox="0 0 24 24")
//-     path(d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z")

//- https://iconmonstr.com/pencil-9-svg/
mixin svgIconPencil9
  svg(viewBox="0 0 24 24")
    path(d="M18.363 8.464l1.433 1.431-12.67 12.669-7.125 1.436 1.439-7.127 12.665-12.668 1.431 1.431-12.255 12.224-.726 3.584 3.584-.723 12.224-12.257zm-.056-8.464l-2.815 2.817 5.691 5.692 2.817-2.821-5.693-5.688zm-12.318 18.718l11.313-11.316-.705-.707-11.313 11.314.705.709z")

//- https://iconmonstr.com/redo-4-svg/
mixin svgIconRedo4
  svg(viewBox="0 0 24 24")
    path(d="M6.974 22.957c-10.957-11.421 2.326-20.865 10.384-13.309l-2.464 2.352h9.106v-8.947l-2.232 2.229c-14.794-13.203-31.51 7.051-14.794 17.675z")

//- https://iconmonstr.com/refresh-2-svg/
mixin svgIconRefresh2
  svg(viewBox="0 0 24 24")
    path(d="M13.5 2c-5.629 0-10.212 4.436-10.475 10h-3.025l4.537 5.917 4.463-5.917h-2.975c.26-3.902 3.508-7 7.475-7 4.136 0 7.5 3.364 7.5 7.5s-3.364 7.5-7.5 7.5c-2.381 0-4.502-1.119-5.876-2.854l-1.847 2.449c1.919 2.088 4.664 3.405 7.723 3.405 5.798 0 10.5-4.702 10.5-10.5s-4.702-10.5-10.5-10.5z")

//- https://iconmonstr.com/text-1-svg/
mixin svgIconText1
  svg(viewBox="0 0 24 24")
    path(d="M22 0h-20v6h1.999c0-1.174.397-3 2.001-3h4v16.874c0 1.174-.825 2.126-2 2.126h-1v2h9.999v-2h-.999c-1.174 0-2-.952-2-2.126v-16.874h4c1.649 0 2.02 1.826 2.02 3h1.98v-6z")

//- https://iconmonstr.com/text-8-svg/
mixin svgIconText8
  svg(viewBox="0 0 24 24")
    path(d="M24 5.469h-2.31c1.041-.867 2.178-1.907 2.178-3.26 0-1.342-.964-2.209-2.454-2.209-.813 0-1.63.238-2.317.769l.535 1.345c.444-.327.904-.614 1.475-.614.616 0 .955.299.955.84-.012.907-1.129 1.79-3.062 3.536v1.124h5v-1.531zm-7 16.531v2h-4.778l-3.751-5.938-3.521 5.938h-4.95v-2h1.08c.654 0 1.259-.358 1.594-.914l3.634-6.091-3.73-6.144c-.341-.531-.932-.853-1.568-.853h-1.01v-1.998h4.611l3.86 5.964 4.09-5.964h4.439v1.998h-.838c-.636 0-1.227.322-1.567.853l-3.96 6.144 3.864 6.091c.334.556.939.914 1.593.914h.908z")

//- https://iconmonstr.com/trash-can-2-svg/
mixin svgIconTrashCan2
  svg(viewBox="0 0 24 24")
    path(d="M9 19c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5-17v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712zm-3 4v16h-14v-16h-2v18h18v-18h-2z")

//- https://iconmonstr.com/undo-4-svg/
mixin svgIconUndo4
  svg(viewBox="0 0 24 24")
    path(d="M17.026 22.957c10.957-11.421-2.326-20.865-10.384-13.309l2.464 2.352h-9.106v-8.947l2.232 2.229c14.794-13.203 31.51 7.051 14.794 17.675z")

//- https://iconmonstr.com/upload-21-svg/
mixin svgIconUpload21
  svg(viewBox="0 0 24 24")
    path(d="M23 0v20h-8v-2h6v-16h-18v16h6v2h-8v-20h22zm-12 13h-4l5-6 5 6h-4v11h-2v-11z")

//- https://iconmonstr.com/user-1-svg/
mixin svgIconUser1
  svg(viewBox="0 0 24 24")
    path(d="M20.822 18.096c-3.439-.794-6.64-1.49-5.09-4.418 4.72-8.912 1.251-13.678-3.732-13.678-5.082 0-8.464 4.949-3.732 13.678 1.597 2.945-1.725 3.641-5.09 4.418-3.073.71-3.188 2.236-3.178 4.904l.004 1h23.99l.004-.969c.012-2.688-.092-4.222-3.176-4.935z")

