doctype html
//
  Math Tablet
  Copyright (C) 2019 Public Invention
  https://pubinv.github.io/PubInv/

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
html(lang='en')
  head
    meta(charset="UTF-8")
    //- These meta tags are copied from MyScript samples.
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="HandheldFriendly", content="true")
    block metatags
    title Math Tablet
    link(rel='stylesheet', href='/stylesheets/global.css')
    block styles
    block scripts
  body
    //- #banner
    //-   if messages
    //-     each html in messages.banner || []
    //-       .banner!= html
    //-         button.close &#x2715;
    //-     each html in messages.error || []
    //-       .error!= html
    //-         button.close &#x2715;
    //-     each html in messages.warning || []
    //-       .warning!= html
    //-         button.close &#x2715;
    //-     each html in messages.success || []
    //-       .success!= html
    //-         button.close &#x2715;

    block content
