doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    block metatags
    title Math Tablet
    link(rel='stylesheet', href='/stylesheets/global.css')
    block styles
    script(type='module', src='/javascripts/global.js')
    block scripts
  body
    #fixedHeader
      if messages
        each html in messages.banner || []
          .banner!= html
            button.close &#x2715;
        each html in messages.error || []
          .error!= html
            button.close &#x2715;
        each html in messages.warning || []
          .warning!= html
            button.close &#x2715;
        each html in messages.success || []
          .success!= html
            button.close &#x2715;

    block content
