extends layout

block content
  h1 #{userName}'s Documents

  form(method='POST')
    input(type='text', name='notebookName', placeholder="Notebook name")
    button(type='submit', name='action', value='newNotebook') New Notebook

  if (notebookEntries.length>0)
    ul
      each entry in notebookEntries
        li
          a(href=`/${userName}/${entry.name}`)= entry.name
  else
    p
      | No notebooks found.
      | Add &ldquo;<tt>/&lt;document name&gt;</tt>&rdquo; to the end of the current URL to create a new document.