extends layout

block fixedHeaderContent
  .banner
    | Welcome to Math Tablet!
    button.close &#x2715;

block content
  h1 Math Tablet Users
  if (userEntries.length>0)
    ul
      each entry in userEntries
        li
          a(href=`/${entry.userName}`)= entry.userName
  else
    p
      | No users found.
      | Run the following Mac/Linux shell command and and refresh the page:
      br
      br
      tt mkdir -p ~/math-tablet-usr/$USER
