doctype html
html
  head
    title Math Tablet
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/myscript.min.css')
    script(src='/javascripts/myscript.min.js')
    script(src='/javascripts/pep-0.4.3.js')
    script(src='/javascripts/app.js')
  body
    block content
