doctype html
html(lang='en', 'data-applicationkey'=credentials.myscript.applicationKey, 'data-hmackey'=credentials.myscript.hmacKey)
  head
    //- These meta tags are copied from MyScript samples.
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="HandheldFriendly", content="true")

    title Math Tablet
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/myscript.min.css')
    script(src='/javascripts/pep-0.4.3.js')
    script(src='/javascripts/myscript.min.js')
    // WARNING! We have npm installed, this should not be necessary and is probably inefficient...
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.8.0/math.js')    
    script(type='module', src='/javascripts/app.js')
  body
    block content
