extends layout

block content
  h1 #{userName}'s Documents
  if (notebookEntries.length>0)
    ul
      each entry in notebookEntries
        li
          a(href=`/${user}/${entry.name}`)= entry.name
  else
    p
      | No notebooks found.
      | Add &ldquo;<tt>/&lt;document name&gt;</tt>&rdquo; to the end of the current URL to create a new document.