
body {
  background-color: green;
  height: 100%;
  margin: 0;
  /* user-select: none; Why isn't this working? */
}

svg#canvas {
  background-color: yellow;
  position: absolute;
  top: 5%;
  left: 55%;
  width: 40%;
  height: 90%;
  touch-action: none;
}
