
#fixedHeader
  background-color yellow
  left 0
  position fixed
  top 0
  width 100%

  > *
    padding 8pt
    border-bottom 1px solid black

  .banner
    background-color lightblue
    color black

  .close
    color inherit
    background-color transparent
    border none
    padding 0
    float right

  .error
    background-color red
    color white

  .success
    background-color green
    color white

  .warning
    background-color yellow
    color black

body
  font-family Arial, Helvetica, sans-serif

