
// Specific elements

#footer
  bottom 0
  left 0
  position fixed
  width 100%

  button
    width 30pt

#inputArea
  border-top 1px solid #cccccc
  display flex
  flex-direction row
  height 3in

#inputControls
  border-left 1px solid #cccccc
  display flex
  flex-direction column

#inputMath
  flex 1

#inputSelector
  border-right 1px solid #cccccc
  display flex
  flex-direction column

#inputText
  flex 1

#menu
  background-color #cccccc
  padding 2pt

  button
    background-color white
    color #222222
    height 20pt

#previewArea
  border-top 1px solid #cccccc
  display flex
  flex-direction row

#previewMath
  flex 1
  padding 4pt

#previewText
  flex 1
  padding 4pt

#tDoc
  display flex
  flex-direction column

// Element classes

.thought
  border 1px solid #888888
  margin 2pt
  padding 2pt

// Element types

body
  height 100%
  margin 0

html
  height 100%
