
// Specific elements

#errorHeader
  background-color red
  color white
  display none
  font-family Arial, Helvetica, sans-serif
  padding 2pt
  width 100%

#pages
  display flex
  flex-direction row
  flex-wrap wrap

// Element classes

.editor
  border 1px solid #cccccc
  width 100%

.layer
  display flex
  flex-direction column
  height 100%
  width 100%

.page
  background-color white
  border-top 1px solid #cccccc
  border-right 2px solid #bbbbbb
  border-bottom 2px solid #bbbbbb
  border-left 1px solid #cccccc
  height 8in
  margin 2pt
  padding 0.25in
  width 6in

// Element types

body
  background-color #eeeeee
  margin 0
