
// Specific elements

#banner
  align-items center
  background-color lightblue
  color black
  display flex
  flex-direction row
  font-family Arial, Helvetica, sans-serif
  justify-content space-between
  min-height 30pt
  padding 0 8pt 0 8pt

#bannerClose
  background-color transparent
  border none
  padding 0

#contentArea
  background-color orange

#footer
  bottom 0
  left 0
  position fixed
  width 100%

  button
    width 30pt

#inputArea
  border-top 1px solid #cccccc
  display flex
  flex-direction row

#inputSelector
  border-right 1px solid #cccccc
  display flex
  flex-direction column

// #mathInput

#menu
  background-color #cccccc
  padding 2pt

  button
    background-color white
    color #222222
    height 20pt

#previewArea
  border-top 1px solid #cccccc
  display flex
  flex-direction row

#previewMath
  flex 1

#previewText
  flex 1
  padding 4pt

// Element classes

// .editor
//   border 1px solid #cccccc
//   width 100%
.editor
  height 3in
  flex 1

.inputArea
  flex 1
  display flex
  flex-direction row

.inputControls
  border-left 1px solid #cccccc
  display flex
  flex-direction column

// Element types

body
  height 100%
  margin 0

html
  height 100%
